.header {
  display: flex;
  justify-content: space-around;
  width: 620px;
  height: 160px;
  background: #f5f5f7;
  border-radius: 14px;
  /* margin-left: 236.32px; */
  margin-top: 55.25px;
}

.header-text2 {
  color: #0c0b0b;
  padding-left: 30px;
}
.header-text1 {
  padding-top: 35px;
  padding-left: 30px;
}

.header-text1 h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.header-text2 p {
  margin-top: 0;
  padding-top: 0;
}

.header-illustration {
  align-self: flex-end;
  margin-right: 100px;
}
