.Courses-tabs button {
  border: 0;
  outline: 0;
  background-color: white;
  font-family: Baloo Bhai;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  /* identical to box height */

  /* Black */
  opacity: 0.3;
  color: #0c0b0b;
}

.active {
  opacity: 1 !important;
  color: #0c0b0b !important;
  font-weight: bold !important;
}
